@keyframes center {
  0% {
      transform: translateY(-15px);
  }
  50% {
      transform: translateY(15px);
  }
  100% {
      transform: translateY(-15px);
  }
}

.main-card {
  animation: center 5s ease-in-out infinite;
}

/* Animations for Floating Cards */
@keyframes fleft {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(55px);
  }
  100% {
      transform: translateX(0);
  }
}

.f-left {
  animation: fleft 5s ease-in-out infinite;
}

@keyframes fright {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-55px);
  }
  100% {
      transform: translateX(0);
  }
}

.f-right {
  animation: fright 5s ease-in-out infinite;
}

@keyframes sleft {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(85px);
  }
  100% {
      transform: translateX(0);
  }
}

.s-left {
  animation: sleft 5s ease-in-out infinite;
}

@keyframes sright {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-85px);
  }
  100% {
      transform: translateX(0);
  }
}

.s-right {
  animation: sright 5s ease-in-out infinite;
}

/* Responsive Fixes */
@media (max-width: 1024px) {
  .main-card {
      animation: none;
      width: 308px;   
      z-index: 10;
  }
}

/* @keyframes left1{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}
.left1{
  animation: left1 1s ease-out forwards  ;
}
@keyframes right1{
  

}
.right1{
  animation: left1 1s ease-out forwards ;
}
 */
