@keyframes center {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .main-card {
    animation: center 5s ease-in-out infinite;
  }
  @keyframes fleft {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translatex(-45px);
      }
      100% {
        transform: translateY(0);
      }
  }
  
  .f-left {
    animation: fleft 5s ease-in-out infinite;
  }
  @keyframes fright {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translatex(-45px);
      }
      100% {
        transform: translateY(0);
      }
  }
  
  .f-right {
    animation: fright 5s ease-in-out infinite;
  }
  @keyframes sleft {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateX(45px);
      }
      100% {
        transform: translateY(0);
      }
  }
  
  .s-left {
    animation: sleft 5s ease-in-out infinite;
  }
  @keyframes sright {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateX(45px);
      }
      100% {
        transform: translateY(0);
      }
  }
  
  .s-right {
    animation: sright 5s ease-in-out infinite;
  }

  @media (max-width: 640px) {
    .main-card {
        animation: none;
        width: 300px;
        top: 140px;
        left: 50%;
        transform: translate(-50%, -50%);
       z-index: 0;
    }
}
@media (max-width: 450px) {
  .main-card {
      animation: none;
      width: 300px;
      top: 140px;
      left: 50%;
      transform: translate(-50%, -50%);
     
  }
}
