@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/apex-mk2');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Triodion&display=swap');

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1080px;
  --breakpoint-xl: 1320px;
  } 
  .font-apex{
   font-family:'Apex Mk2', sans-serif;
  }
 .font-roboto{
  font-family: "Roboto", serif;
 }
 .font-oxanion{
  font-family: "Oxanium", serif;
 }

 .bg-gradient-custom {
  background: linear-gradient(318deg, #FD0000 26.88%, #FF9292 105.85%);
}
.drop-shadow-custom {
  filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.20));
}